%div
  = link_to 'Oauth Applications', '/oauth/applications'

%div
  = link_to 'My Articles', articles_path

%div
  %div Name: MyApp
  %div CallBack: http://localhost:3000/users/auth/doorkeeper/callback